.FastAccess__box-body {
  display: flex;
  flex-direction: column;
}
.FastAccess__box-head {
  margin-bottom: 20px;
  font-size: 0.9rem;
  font-weight: 900;
}
.FastAccess__box-body > a {
  font-size: 0.8rem;
  color: #363735 !important;
  margin: 0.3rem 0.4rem;
}
/* responsive */

@media screen and (max-width: 440px) {
  .FastAccess__box {
    width: 100% !important;
  }
}
